* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 15px;
  line-height: 1;
  color: var(--gin);
  background-color: var(--outer-space);
}

p{
  margin-bottom: 10px;
}

header {
  background-color:rgb(12, 120, 235);
  text-align:center;
  padding: 1px;
  margin: 0, auto;
  font-family: cursive;
}
main {
  margin: 10px;
}

footer{
  margin: 0, auto;
  padding: 1px;
  background-color:rgb(12, 120, 235);
  text-align:center;
  width: 100%;
}

#logo-img{
  height:35px;
  width:35px;
  background-color: rgb(12, 120, 235);
  margin: 0px;
  padding: 0px;
  display: block;
}
/* Style the navigation menu */
.navbar {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.navbar #myLinks {
  display: none;
  text-align: right;
}

/* Style navigation menu links */
.navbar a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.navbar a.icon {
  background: rgb(143, 142, 142);
  display: block;
  position: absolute;
  right: 0;
  top: 7px;
}

/* Add a grey background color on mouse-over */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: rgb(53, 140, 234);
  color: white;
}

.row {
  display: flex;
  flex-wrap:wrap;
  flex-direction: row;
  background-color: aqua;
  padding: 5px;
  margin: 5px;
}
.card-ab-box, .card-wk-box, .card-ct-box {
  flex: 33%;
  border-right: 3px solid black;
}

.card-ab-content, .card-wk-content, .card-ct-content {
 flex: 66%;
}

.card-title {
  text-align: right;
  padding-right: 1vw;
}

.card-ab-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: left;
  padding-left: 1vw;
}

.card-wk-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-left: 1vw;
}

.card-wk-info div h3 p {

}

.card-ct-info{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  list-style: none;
  padding-left: 1vw;
}

.card-ct-info div {
  border-bottom: 2px solid black;
  padding: 5px;
  margin: 5px;
  justify-content: center;
}

#P1-img, #P2-img, #P3-img, #P4-img, #P5-img {
  padding: 5px;
  margin: 5px;
}